.container {
  margin-left: 120px;
  margin-right: 120px;
  // background-color: #ccc;
  height: 330vh;
}
.aside {
  height: 100vh;
}

.card-center {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 300px;
  gap: 1.8rem;
}

img {
  width: 305px;
}

// ************************************************ //
// Content 1
// ************************************************ //

.content1 {
  &__heading {
    font-size: 4rem;
    font-weight: 500;
    color: #424244;
  }
  &__paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: #252525cc;
    margin-bottom: 3rem;
  }
}

.card h1 {
  font-size: 2.8rem;
  font-weight: 500;
  color: #424244;
}

.card p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #424244;
  text-align: left;
}

.centerer {
  display: flex;
  justify-content: end;
  margin-bottom: 0.8rem;
}

.centerer a {
  font-size: 1.6rem;
  color: #c85100;
}

// ************************************************ //
// Content 2
// ************************************************ //

.content2 {
  margin-top: 8rem;

  &__heading {
    font-size: 4rem;
    color: #424244;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}

// ************************************************ //
// Content 3
// ************************************************ //

.content3 {
  &__heading {
    font-size: 4rem;
    color: #424244;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}

.arrow {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1rem;
}

.fa-solid {
  font-size: 2.4rem;
  color: #424244;
}

.fa-chevron-left {
  margin-left: 0.6rem;
}

.offers {
  display: flex;
  gap: 2.3rem;
  margin-top: 1rem;
}

.tourCard1 {
  & h1 {
    font-size: 2.3rem;
    color: #424244;
    font-weight: 500;
  }
  & p {
    font-size: 2rem;
    color: #424244;
  }
}

// ************************************************ //
// Content 4
// ************************************************ //

.content4 {
  margin-top: 4rem;
  &__heading {
    font-size: 4rem;
    color: #424244;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;

  & img {
    width: 405px;
  }
}

// corousel

.main1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

img {
  width: 300px;
  height: 300px;
}

//
