.header {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/18b0e57c5f6c838c052271193834fa9e.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

.nav {
  height: 10.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__heading {
    font-size: 4.8rem;
    font-family: "Kalnia";
    color: #fff;
    font-weight: 500;
    cursor: pointer;
  }

  &__right-side {
    font-size: 1.6rem;
    display: flex;
    gap: 2.5rem;
  }
  &__right-side a {
    font-size: 1.9rem;
    text-decoration: none;
    color: #fff;
  }
}

.content {
  width: 32.4rem;
  height: 21rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -40%);

  &__heading {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 3.8rem;
    text-align: center;
    color: #fff;
  }

  &__span {
    display: block;
    text-align: center;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
  }

  &__btn {
    padding: 1.5rem 3rem;
    border-radius: 16px;
    border: none;
    margin-top: 2rem;
    background-color: #ff6700;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    font-family: "Roboto";
    display: inline-block;
  }
}

.button-center {
  text-align: center;
}

// **************************************************************************//
// Login Side //
// **************************************************************************//

.login {
  width: 26.7rem;
  height: 16.4rem;
  background-color: #fff;
  position: absolute;
  right: 12%;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.loginShow {
  display: none;
}

.line {
  border-top: 2px solid #ff6700; /* Adjust color and thickness as needed */
  width: 90%; /* Adjust width as needed */
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.sign-in,
.sign-up,
.sign-out {
  font-size: 1.8rem;
  text-align: left;
  margin-left: 2rem;
}

.sign-in a,
.sign-up a,
.sign-out a {
  text-decoration: none;
  cursor: pointer;
  color: #424244;
}
